{% extends 'base.html.twig' %}

{% block body %}
    {{ 'now'|localizeddate('long', 'none') }}
    <a href="{{ url('app.search.advanced') }}">Recherche avancée</a>
    <br/>
<h1>Welcome to Cinefan</h1>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-3">
            <ul>
                {% for actor in actors %}
                    <li><input type="checkbox" name="actors[]" value="{{ actor.id }}">{{ actor.lastname }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-9">
            {%  include('inc/rendue_liste.twig') %}
        </div>
    </div>




{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/AdvandSearch.js') }}"></script>
    <script>


    </script>
{% endblock %}
