{% extends 'base.admin.html.twig' %}


{% block body %}
    <p>{{ 'form.actor.formulaire' | trans }}</p>
    {#
        form_start: début du formulaire
        form_end: fin du formulaire
        form_label: label champ
        form_widget: champ
        form_errors: affiche erreurs
    #}
    {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate'} }) }}


    {{ form_errors(form.lastname) }}
    {{ form_errors(form.portrait) }}

    <p>
        {{ form_label(form.lastname, 'form.actor.lastname' | trans | title ~ ' : ') }}
        {{ form_widget(form.lastname) }}
    </p>
    <p>
        {{ form_label(form.firstname, 'form.actor.firstname' | trans | title ~ ' : ') }}
        {{ form_widget(form.firstname) }}
    </p>
    <p>
        {{ form_label(form.portrait, 'form.actor.portrait' | trans | title ~ ' : ') }}
        {{ form_widget(form.portrait) }}
    </p>
    <p>
        {{ form_label(form.birthday, 'form.actor.birthday' | trans | title ~ ' : ') }}
        {{ form_widget(form.birthday) }}
    </p>
    <p>
        {{ form_label(form.movies, 'form.actor.movies' | trans | title ~ ' : ') }}
        {{ form_widget(form.movies) }}
    </p>
    <p>
        {{ form_label(form.bio, 'form.actor.bio' | trans | title ~ ' : ') }}
        {{ form_widget(form.bio) }}
    </p>
    {% if form.vars.value.id == false %}
        <p><input type="submit" value="{{ 'submit.create' | trans( {}, 'forms') | title}}"/></p>
    {% else %}
        <p><input type="submit" value="{{ 'submit.update' | trans( {}, 'forms') | title}}"/></p>
    {% endif %}
    {{ form_end(form) }}



{% endblock %}